body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: row-reverse; /* يجعل العناصر من اليمين للشمال */
  justify-content: center;
  align-items: center;
  gap: 30px; /* مسافة بينهم */
  height: 100vh; /* يمركز العناصر في نص الشاشة */
}

h1 {
  color: orange;
  font-size: 48px;
}

button {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ff9800;
  border: none;
  border-radius: 8px;
  color: white;
}

button:hover {
  background-color: #e68900;
}
